.admin {
  display: flex;
  flex-direction: row;

  > div {
    flex: 1 1 auto;
    position: relative;
  }

  .admin_tools {
    z-index: 11;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    top: 0px;
    position: sticky;
    color: white;
    height: 100vh;
    min-width: 300px;
    background-image: linear-gradient(to right, #646769 0%, #3d4041 100%);
    box-shadow: -5px 0 10px -5px #333;

    button {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 12px;
      cursor: pointer;

      &:hover{
        background-color: rgb(36, 36, 36);
        color: wheat;
      }
    }

    h2 {
      font-size: 18px;
      line-height: 64px;
      margin-left: 15px;
    }

    .nav_bar_for_admin {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      font-size: 14px;
      line-height: 25px;

      li{
        flex: 1 1 auto;
        text-align: center;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        box-shadow: 0px -6px 5px -5px black inset;
      }

      li:first-child{
        border-top-left-radius: 0px;
      }

      li:last-child{
        border-top-right-radius: 0px;
      }

      .active {
        font-size: 15px;
        box-shadow: 0px -3px 5px -2px black;
      }
    }

    .tools_bar {
      flex: 1 1 auto;
    }
  }

  .admin_search {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    > div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;

      a {
        position: relative;
        cursor: pointer;
        height: auto;
        max-height: 400px;
        position: relative;
        width: 300px;
        color: rgb(0, 0, 0);
        background-color: rgb(230, 230, 230);
        background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
        background-blend-mode: screen;
        padding: 5px 5px 30px;
        margin: 35px;
        display: block;
        box-shadow: 0px 0px 10px 0px black;
        transition: 0.5s;

        &::after{
          transition: 0.5s;
          opacity: 0;
          content: 'CHANGE ITEM';
          display: block;
          position: absolute;
          font-weight: 100;
          color: rgba(0, 0, 0, 0.5);
          width: 120px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          top: calc(50% - 20px);
          left: calc(50% - 60px);
          z-index: 111;
        }

        &:hover{
          &::after{
            opacity: 1;
          }
          img{
            opacity: 0.5;
          }
          .admin_item_short_create{
            background-color: rgb(0, 255, 170);
          }
        }
        .admin_item_short_create{
          font-size: 300px;
          height: 200px;
          width: 200px;
          text-align: center;
          line-height: 160px;
          border-radius: 50%;
          color: white;
          margin: calc(50% - 100px) auto;
          background-color: rgba(255, 255, 255, 0);
          border: 1px solid rgba(0, 0, 0, 0.3);
          text-shadow: 0px 0px 2px rgb(0, 0, 0);
          transition: 0.6s;
        }
      }

      a:first-child::after{
        content: 'CREATE ITEM';
      }
    }

    img {
      transition: 0.5s;
      width: 100%;
      height: 390px;
    }

    .admin_item_short_description{
      position: absolute;
      height: 25px;
      bottom: 0px;
      left: 0px;
      width: 100%;
    }
    h3 {
      margin-left: 10px;
      display: inline-block;
    }
    span {
      float: right;
      margin-right: 10px;
    }
  }

  .item_full_for_admin {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;


    .item_full_images_for_admin {
      flex: 1 1 auto;
      max-width: 600px;
      background-color: #f1f1f1;
      color: rgb(78, 78, 78);

      button{
        cursor: pointer;
        outline: none;
      }

      li {
        position: relative;
        border: 1px solid rgba(255, 255, 255, 0);
        margin: 18px 5px;

      }

      .active{
        input{
          border: 1px solid rgb(0, 98, 255);
          border-top: none;
        }
        input:first-child{
          border-top: 1px solid rgb(0, 98, 255);
        }
      }

      input {
        width: 90%;
        background-color: transparent;
        padding: 3px;
        border: 1px solid rgba(172, 172, 172, 0.3);
      }
      input:last-child{
        border-top: none;
        
      }

      .btn_delte_image{
        position: absolute;
        right: 0px;
        top: -10px;
        font-size: 9px;
        border: 1px solid rgba(255, 0, 0, 0.2);
        background-color: #f1f1f1;
        border-radius: 4px;

        &:hover{
        border: 1px solid rgba(255, 0, 0);
        font-size: 10px;

        }
      }

      img {
        width: 100%;
      }
    }

    .item_full_data_for_admin {
      flex: 0 1 auto;
      color: rgb(128, 128, 128);
      font-size: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 10px;

      label {
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        width: min-content;
      }

      input,
      textarea {
        color: white;
        font-size: 13px;
        background-color: transparent;
        border: 0px;
        border: 1px solid rgb(90, 90, 90);
        padding: 2px;
      }

      ul {
        margin: 15px 0px;

        button {
          margin-top: 10px;
        }
      }

      .show_select_colors_admin {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 5px 5px -5px 0px;
      }

      .btn{
        margin: 0px 10px 15px auto;
        border-radius: 3px;
      }
      .btn_seve_cheang {
        border-color: rgba(0, 255, 0, 0.5);
      }
      .btn_cencel_cheang{
        border-color: rgba(255, 0, 0, 0.5);
      }
    }
  }
}
