@import './slider.scss', './admin.scss', './store.scss', './loader.scss', './navigation.scss';

// red #ff2f2f94   // orange #ff930087 // lightgrey #5a5a5a

body {
  background-color: rgb(78, 78, 78);
  color: rgb(202, 202, 202);
  min-height: 100vh;
}
p, h1, h2, h3, h4, h5, h6, span {
  white-space: pre-line;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: contents;
  > div {
    flex: 1 0 auto;
  }
}


footer {
  flex: 0 0 auto;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: white;
  text-align: center;
  line-height: 50px;

  h2 {
    font-size: 20px;
  }
}

.login_to_admin {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    width: 300px;

    label {
      display: contents;
    }
    input,
    button {
      padding: 5px 10px;
      max-width: 200px;
      margin: 15px 0px;
    }
  }
}

@keyframes autofill {
  to {
    color: white;
    background: transparent;
  }
}
@-webkit-keyframes autofill {
  to {
    color: white;
    background: transparent;
  }
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
